/* Bonnie layout */

/* new styles for absolute positioned layout */

#container {
  overflow:hidden;
  position:absolute;
  top:0;
  bottom:0;
  right:0;
  left:0;
}

#header {
  height:36px;
  left:0;
  right:0;
}

#pageContent {
  position:absolute;
  top:36px;
  bottom:0;
  overflow:hidden;
  background-color:#fff;
  left:0;
  right:0;
  min-width:800px;
  overflow-x:auto;
}

#tabs {
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
}

#main_tabs {
  height:28px;
  margin-top:10px;
}


.tab-content {
  top:39px;
  bottom:0;
  left:0;
  right:0;
  overflow:hidden;
  overflow-y:auto;
  position:absolute;
}

.tab-pane {
  padding-bottom:20px;
}